
@font-face {
  font-family: 'Hack';
  src: url('./hack-regular.woff2?sha=3114f1256') format('woff2'), url('./hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./hack-bold.woff2?sha=3114f1256') format('woff2'), url('./hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./hack-italic.woff2?sha=3114f1256') format('woff2'), url('./hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('./hack-bolditalic.woff2?sha=3114f1256') format('woff2'), url('./hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DOS';
  src: url('./PxPlus_IBM_VGA8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DOS2';
  src: url('./Web437_IBM_EGA_8x14.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Nerd';
  src: url('./DejaVuSansMonoNerdFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}